<configuration>

    <property name="LOGS" value="logs" />

    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd-MM-yyyy-HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    
    <!-- LOG everything at INFO level -->
    <root level="info">
       <!--  <appender-ref ref="RollingFile" /> -->
        <appender-ref ref="Console" />
    </root>
    
    <logger name="eu.europa.esig.dss.validation.CommonCertificateVerifier" level="OFF"/>
 	<logger name="eu.europa.esig.dss.validation.SignedDocumentValidator" level="OFF"/>
 	<logger name="eu.europa.esig.dss.xades.validation.XAdESCertificateSource" level="OFF"/>
 	<logger name="eu.europa.esig.dss.xades.validation.XAdESSignature" level="OFF"/>
    
    <!-- LOG "com.baeldung*" at TRACE level -->
    <!--<logger name="com.baeldung" level="trace" additivity="false">-->
      <!--   <appender-ref ref="RollingFile" /> -->
        <!--<appender-ref ref="Console" />-->
    <!--</logger>-->
</configuration>